--- title: Index page --- {% extends "layouts/_layout.html" %} {% block content %} {% include "partials/header/_header.html"
%}

<!-- begin section-pagination -->
<div class='section-pagination'>
<!-- begin pagination -->
<nav class='pagination'>
<div class='pagination__list js-fp-nav'>
<button class='pagination__item'></button>
<button class='pagination__item'></button>
<button class='pagination__item'></button>
<button class='pagination__item'></button>
<button class='pagination__item'></button>
</div>
</nav>
<!-- end pagination -->
</div>
<!-- end section-pagination -->


<!-- begin main -->
<main class='main js-fp-scroll'>


<!-- begin section section_hero -->
<section class='section section_hero ' >


<p data-stugger> Lorem ipsum dolor sit amet.</p>

</section>
<!-- end section section_hero -->


<!-- begin section section_dev -->
<section class='section section_dev ' >
 <p data-stugger> Lorem ipsum dolor sit amet.</p>
</section>
<!-- end section section_dev -->


<!-- begin section section_projects -->
<section class='section section_projects '>
 <p data-stugger> Lorem ipsum dolor sit amet.</p> 
</section>
<!-- end section section_projects -->

<!-- begin section section_vacancies -->
<section class='section section_vacancies '>
 <p data-stugger> Lorem ipsum dolor sit amet.</p> 
</section>
<!-- end section section_vacancies -->

<!-- begin section section_join-us -->
<section class='section section_join-us '>
 <p data-stugger> Lorem ipsum dolor sit amet.</p> 
</section>
<!-- end section section_join-us -->



</main>
<!-- end main -->




{% endblock %}
