<header>
  <!-- begin header__top -->
  <div class='header__top'>
    <!-- begin topline -->
    <div class='topline'>
      <!-- begin c-logo -->
      <div class='c-logo'>
            <img src="" alt="">
      </div>
      <!-- end c-logo -->
<!-- begin nav-bar -->
<nav class='nav-bar'>
<ul class='nav-bar__list'>
<li class='nav-bar__item'><a href='#' class='nav-bar__link'></a></li>
<li class='nav-bar__item'><a href='#' class='nav-bar__link'></a></li>
<li class='nav-bar__item'><a href='#' class='nav-bar__link'></a></li>
<li class='nav-bar__item'><a href='#' class='nav-bar__link'></a></li>
</ul>
</nav>
<!-- end nav-bar -->

    </div>
    <!-- end topline -->


  </div>
  <!-- end header__top -->
</header>



